.row {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  border: 1px black solid;
}
.sidebar {
  border: 1px black solid;
  max-width: 420px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.live-lenta {
  max-width: 125px;
  width: 100%;
  border: 1px black solid;
}
.body {
  flex: 1 1 auto;
  border: 1px black solid;
}
.sidebar-header {
  /* Style for "Rectangle" */
  max-width: 420px;
  width: 100%;
  height: 150px;
  background-image: url("../../img/logo-background.png");
  background-repeat: no-repeat;
  box-shadow: -15px 15px 65px rgba(126, 70, 247, 0.45);
  background-color: #dccdfd;
  padding-top: 26px;
  padding-left: 26px;
  display: flex;
  justify-content: space-between;
  align-self: center;
  position: relative;
  z-index: 1;
}
.sidebar-header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../img/logo_bacground_point.png");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 1;
  z-index: 2;
}
.sidebar-img {
  width: 100%;
}
.sidebar-logo {
  width: 291px;
}
.sidebar-burger {
  align-self: center;
  margin-right: 46px;
}
/* --------------------- */
.statistic {
  margin-top: 15px;
  max-width: 363px;
  width: 100%;
  height: 75px;
  box-shadow: 0 25px 35px rgba(226, 227, 243, 0.65);
  border-radius: 100px;
  border: 2px solid rgba(226, 227, 243, 0.65);
  background-color: #ffffff;
  padding: 5px;
  display: flex;
  align-items: center;
}
.statistic-goods {
  display: flex;
  width: 50%;
}
.goods-icon {
  min-width: 50px;
  height: 50px;

  border-radius: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-left: 5px;
}
.goods-icon-img {
  margin: 0 auto;
}
.goods-text {
  margin-left: 12px;
  margin-right: 4px;
  display: flex;
  flex-direction: column;
  align-self: center;
}
.text-title {
  color: #000000;
  font-family: "TT Norms Pro";
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 2px;
}
.text-description {
  /* Style for "Купленно т" */

  color: #b2b9d1;
  font-family: "TT Norms Pro";
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
}
.statistic-user {
  display: flex;
  width: 50%;
}
.green {
  background: linear-gradient(90deg, #8cd23c 0%, #417a00 100%);
}
.purple {
  background: linear-gradient(36.87deg, #b139fe 18.57%, #1e61eb 80.26%);
}
/* --------------------- */
.sidebar-item {
  margin-top: 50px;
  display: flex;
  width: 100%;
  max-width: 360px;
  height: 70px;
  box-shadow: 0 0 65px rgba(220, 225, 246, 0.85);
  border-radius: 4px;
  background-color: #ebeffe;
  margin-bottom: 23px;
}
.sidebar-item:last-child {
  margin-bottom: 0px;
}
.item-icon {
  /* Style for "Rectangle" */
  position: relative;
  width: 72px;
  height: 70px;
  border-radius: 4px;
  /* background: linear-gradient(90deg, #8cd23c 0%, #417a00 100%); */
  display: flex;
  /* justify-content: center; */
  align-items: center;
  background-image: url("../../img/item-icon-inactiv.png");
  background-repeat: no-repeat;
  box-shadow: 0 15px 65px rgba(220, 225, 246, 0.45);
}
.item-icon::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../img/item-Background.png");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.15;
  z-index: 2;
}
/* .item-icon::after {
  content: url("../../img/item-icon-rec.svg");
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  fill: black;
} */
.item-icon-img {
  margin-left: 19px;

  z-index: 3;
}
.item-text {
  align-self: center;
  flex: 1 1 auto;
  box-shadow: 0 0 65px rgba(220, 225, 246, 0.85);
  background-color: #ebeffe;
  /* Style for "продать то" */

  color: #b2b9d1;
  font-family: "TT Norms Pro";
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
  text-transform: uppercase;
  margin-left: 30px;
}

.item-text__activ {
  background-color: #ffffff;
}
.item-icon__activ {
  background-image: url("../../img/item-icon-rec.png");
  margin-bottom: 44px;
}
.sidebar-item__activ {
  background-color: #ffffff;
}
