@font-face {
  font-family: "Dhyana";
  src: url("../fonts/Dhyana_400.eot");
  src: local("☺"), url("../fonts/Dhyana_400.woff") format("woff"),
    url("../fonts/Dhyana_400.ttf") format("truetype"),
    url("../fonts/Dhyana_400.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Dhyana";
  src: url("../fonts/Dhyana_Bold_700.eot");
  src: local("☺"), url("../fonts/Dhyana_Bold_700.woff") format("woff"),
    url("../fonts/Dhyana_Bold_700.ttf") format("truetype"),
    url("../fonts/Dhyana_Bold_700.svg") format("svg");
  font-weight: normal;
  font-style: bold;
}

@font-face {
  font-family: "Gotham Pro";
  src: url("../fonts/GothamProRegular.eot");
  src: local("☺"), url("../fonts/GothamProRegular.woff") format("woff"),
    url("../fonts/GothamProRegular.ttf") format("truetype"),
    url("../fonts/GothamProRegular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gotham Pro";
  src: url("../fonts/GothaProMed.eot");
  src: local("☺"), url("../fonts/GothaProMed.woff") format("woff"),
    url("../fonts/GothaProMed.ttf") format("truetype"),
    url("../fonts/GothaProMed.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Josefin Sans";
  src: url("../fonts/JosefinSans-Medium.eot");
  src: local("☺"), url("../fonts/JosefinSans-Medium.woff") format("woff"),
    url("../fonts/JosefinSans-Medium.ttf") format("truetype"),
    url("../fonts/JosefinSans-Medium.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
