body {
}
.container-full {
  max-width: 1940px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  font-family: "Gotham Pro", sans-serif;
  background-color: #ffffff;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
}

.container {
  max-width: 1245px;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.title {
  color: #3f3f3f;
  font-family: "Gotham Pro";
  font-size: 24px;
  font-weight: 500;
}
