.about {
  position: relative;
}
.about::before {
  position: absolute;
  content: "О компании  О компании";
  font-family: "Gotham Pro";
  font-size: 144px;
  line-height: 138px;
  white-space: pre;
  color: #ffffff;
  top: -10px;
  width: 1880px;
  left: 40px;
  text-shadow: 0 -1px #e1e1e1, 1px 0 #e1e1e1, 0 1px #e1e1e1, -1px 0 #e1e1e1;
  // filter: blur(1px);
  z-index: -1;
  overflow: hidden;
  max-width: calc(100% - 40px);
}
.about__row {
  display: flex;
  flex-direction: row;
  z-index: 4;
  height: 468px;
  position: relative;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 80px;
}

.about__left__row {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  padding-left: 20px;
  padding-right: 20px;
}
.about__left {
  max-width: 49%;
  width: 100%;
}
.about__right {
  flex-shrink: 0;
  width: 100%;
  max-width: 51%;
  background-image: url("../img/about__img.jpg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  border-radius: 50% 0 0 20px;
  position: relative;
  z-index: 7;
}

.about__bg_branch::before {
  content: url("../img/about__branch.png");
  position: absolute;
  left: -464.35px;
  top: -60px;
  width: 564.35px;
  // transform: rotate(-3deg);
  z-index: 5;
  overflow: hidden;
  max-width: calc(100% + 464.35px);
}

.about__right {
  width: 50%;
}
.about__title {
  color: #3f3f3f;
  font-family: "Gotham Pro";
  font-size: 24px;
  font-weight: 500;
  text-align: left;
  position: relative;
  z-index: 3;
  padding-left: 30px;
  padding-right: 30px;
}
.about__logo {
  margin-top: 85px;
  color: #2eb84c;
  font-family: "Gotham Pro";
  font-size: 36px;
  font-weight: 500;
  text-align: left;
}
.about__text {
  position: relative;
  transform: rotate(0.37000000000000455deg);
  color: #353535;
  font-family: "Gotham Pro";
  font-size: 22px;
  font-weight: 400;
  line-height: 30.51px;
  text-align: left;
  max-width: 501px;
  width: 100%;
  margin-top: 69px;
}

.about__text::before {
  content: "";
  position: absolute;
  top: -31px;
  left: 4px;
  width: 336px;
  height: 1px;
  border: 1px solid #dbdbdb;
  background-color: #dbdbdb;
}

.about__img {
  max-width: 940px;
  width: 100%;
  height: 468px;
  border-radius: 12px;
}
.about_hiden-text {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 4;
}
.hiden-text {
  font-family: "Gotham Pro";
  font-size: 144px;
  font-weight: 500;
  text-align: left;
  white-space: pre;
  position: absolute;
  color: #ffffff;
  top: -100px;
  text-shadow: 0 -1px #e1e1e1, 1px 0 #e1e1e1, 0 1px #e1e1e1, -1px 0 #e1e1e1;
  filter: blur(1px);
  z-index: 1;
  overflow: hidden;
  max-width: 100%;
}
.hiden-text_one {
  left: 40px;
  top: 0;
  overflow: hidden;
  max-width: calc(100% - 40px);
  display: none;
}
.hiden-text_two {
  left: -414px;
  top: 110px;
  overflow: hidden;
  max-width: calc(100% + 414px);
}
.hiden-text_three {
  left: 40px;
  top: 220px;
  overflow: hidden;
  max-width: calc(100% - 40px);
}
.hiden-text_four {
  left: -414px;
  top: 340px;
  overflow: hidden;
  max-width: calc(100% + 414px);
}
.about__left__row {
}
@media (min-width: 1920px) {
  .about__right {
    border-radius: 0;
    background-size: auto 100%;
    background-position: right;
    height: 440px;
  }
}
@media (max-width: 1740px) {
  .about__bg_branch::before {
  }
}
@media (max-width: 1620px) {
}
@media (max-width: 1540px) {
}
@media (max-width: 1050px) {
  .about__row {
    height: 410px;
    padding-bottom: 60px;
  }
  .about__text {
    max-width: 350px;
  }
  .hiden-text_four {
    display: none;
  }
  .hiden-text {
  }
  .hiden-text_two {
    top: 180px;
  }
  .hiden-text_three {
    top: 280px;
  }
}
@media (max-width: 770px) {
  .about__bg_branch::before {
    content: url("../img/about__branch_mobile.png");
    display: block;
    top: 190px;
    left: -60px;
    width: 220.5px;
  }
  .about::before {
    width: 940px;
    font-size: 72px;
    left: -229px;
    max-width: calc(100% + 229px);
    top: -75px;
  }
  .about__logo__link {
    display: block;
    align-self: center;
  }

  .about__row {
    flex-direction: column-reverse;
    position: relative;
    height: auto;
  }
  .about__text {
    max-width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  .about__right {
    position: relative;
    z-index: 7;
    max-width: calc(100% - 30px);
    height: 330px;
    width: 100%;
    margin-left: 30px;
  }
  .about__left {
    content: "";
    min-height: 250px;
  }
  .about__left__row {
    top: 330px;
  }
  .about__logo {
    margin-top: 29px;
    text-align: center;
    display: flex;
    justify-content: center;
  }
  .about_hiden-text {
    top: 53%;
  }
  .hiden-text {
    font-size: 72px;
  }
  .hiden-text_two {
    top: 20px;
    width: 940px;
    left: -71px;
    max-width: calc(100% + 71px);
  }
  .hiden-text_three {
    width: 940px;
    left: -198px;
    max-width: calc(100% + 189px);
    top: 100px;
  }
  .hiden-text_four {
    display: block;
    width: 940px;
    left: -229px;
    max-width: calc(100% + 229px);
    top: 200px;
  }
  .about__text::before {
    display: none;
  }
}
@media (max-width: 470px) {
  .about {
    margin-bottom: 70px;
  }
  .about__right {
    height: 210px;
  }
  .about__bg_branch::before {
    top: 100px;
    left: -80px;
    width: 220.5px;
  }
  .about__left__row {
    top: 210px;
  }
}

@media (max-width: 400px) {
  .about {
    margin-top: 46px;
    margin-bottom: 0;
  }
  .about__row {
  }
  .about__bg_branch::before {
    top: 80px;
    left: -105px;
    width: 220.5px;
  }
  .about__left__row {
    top: 182px;
  }
  .about__logo {
    margin-top: 29px;
    text-align: center;
  }
  .about__left {
    position: relative;
    width: 100%;
    min-height: 220px;
  }
  .about__text {
    margin-top: 34px;
    font-size: 18px;
    line-height: 24.97px;
    text-align: center;
  }
  .about__text::before {
    display: none;
  }
  .about__right {
    max-height: 187px;
    margin-left: 30px;
    img {
      max-width: 376px;
      width: 100%;
      max-height: 187px;
      border-radius: 12px;
    }
  }
  .about_hiden-text {
    top: 46%;
  }
  .hiden-text {
    font-size: 72px;
  }
  .hiden-text_one {
  }
  .hiden-text_two {
    top: -20px;
  }
  .hiden-text_three {
    top: 100px;
  }
  .hiden-text_four {
    top: 180px;
  }
}
