.about {
  margin-top: 103px;
  position: relative;
}
.about__row {
  flex-direction: row;
  z-index: 4;
  height: 468px;
  position: relative;
  justify-content: space-between;
  width: 100%;
}

.about__left__row {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  padding-left: 20px;
  padding-right: 20px;
}
.about__left {
  max-width: 49%;
  width: 100%;
}
.about__right {
  flex-shrink: 0;
  width: 100%;
  max-width: 51%;
  background-image: url("../img/about__img.jpg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  border-radius: 50% 0 0 20px;
  position: relative;
  z-index: 7;
}

.about__bg_branch::before {
  content: url("../img/about__branch.png");
  position: absolute;
  left: 0;
  top: 0;
  width: 564.35px;
  height: 389.29px;
  transform: rotate(-3deg);
  z-index: 5;
  overflow: hidden;
}

.about__right {
  width: 50%;
}
.about__title {
  color: #3f3f3f;
  font-family: "Gotham Pro";
  font-size: 24px;
  font-weight: 500;
  text-align: left;
  position: relative;
  z-index: 3;
}
.about__logo {
  margin-top: 85px;
  color: #2eb84c;
  font-family: "Gotham Pro";
  font-size: 36px;
  font-weight: 500;
  text-align: left;
}
.about__text {
  position: relative;
  transform: rotate(0.37000000000000455deg);
  color: #353535;
  font-family: "Gotham Pro";
  font-size: 22px;
  font-weight: 400;
  line-height: 30.51px;
  text-align: left;
  max-width: 501px;
  width: 100%;
  margin-top: 69px;
}

.about__text::before {
  content: "";
  position: absolute;
  top: -31px;
  left: 4px;
  width: 336px;
  height: 1px;
  border: 1px solid #dbdbdb;
}

.about__img {
  max-width: 940px;
  width: 100%;
  height: 468px;
  border-radius: 12px;
}
.about_hiden-text {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 4;
}
.hiden-text {
  font-family: "Gotham Pro";
  font-size: 144px;
  font-weight: 500;
  text-align: left;
  white-space: pre;
  position: absolute;
  color: #ffffff;
  top: -100px;
  text-shadow: 1px 1px 1px #e1e1e1;
  z-index: 1;
  overflow: hidden;
  max-width: 100%;
}
.hiden-text_one {
  left: 40px;
  top: 0;
  overflow: hidden;
  max-width: calc(100% - 40px);
}
.hiden-text_two {
  left: -414px;
  top: 110px;
  overflow: hidden;
  max-width: 100%;
}
.hiden-text_three {
  left: 40px;
  top: 220px;
  overflow: hidden;
  max-width: calc(100% - 40px);
}
.hiden-text_four {
  left: -414px;
  top: 360px;
  overflow: hidden;
  max-width: 100%;
}
.about__left__row {
}
@media (max-width: 1740px) {
  .about__bg_branch::before {
    left: -120px;
  }
}
@media (max-width: 1620px) {
}
@media (max-width: 1540px) {
  .about__bg_branch::before {
    display: none;
  }
}
@media (max-width: 1050px) {
  .about__row {
    height: 350px;
  }
  .about__text {
    max-width: 350px;
  }
  .hiden-text_four {
    display: none;
  }
}
@media (max-width: 770px) {
  .about__row {
    flex-direction: column-reverse;
    position: relative;
    height: auto;
  }
  .about__text {
    max-width: 100%;
  }
  .about__right {
    position: relative;
    z-index: 7;
    max-width: 100%;
    height: 330px;
    width: 100%;
  }
  .about__left {
    content: "";
    min-height: 250px;
  }
  .about__left__row {
    top: 325px;
  }
  .about__logo {
    margin-top: 29px;
  }
  .about_hiden-text {
    top: 53%;
  }
  .hiden-text_three {
    display: none;
  }
}
@media (max-width: 470px) {
  .about {
    margin-bottom: 70px;
  }
}

@media (max-width: 400px) {
  .about {
    margin-top: 46px;
    margin-bottom: 0;
  }
  .about__row {
  }
  .about__bg_branch::before {
    display: none;
  }
  .about__left__row {
    top: 182px;
  }
  .about__logo {
    margin-top: 29px;
    text-align: center;
  }
  .about__left {
    position: relative;
    width: 100%;
    min-height: 220px;
  }
  .about__text {
    margin-top: 34px;
    font-size: 18px;
    line-height: 24.97px;
    text-align: center;
  }
  .about__text::before {
    display: none;
  }
  .about__right {
    max-height: 187px;
    max-width: 387px;
    width: 100%;
    img {
      max-width: 376px;
      width: 100%;
      max-height: 187px;
      border-radius: 12px;
    }
  }
  .hiden-text {
    width: 100%;
    overflow: hidden;
    font-size: 72px;
    line-height: 69px;
  }
  .hiden-text_one {
    width: 100%;
    overflow: hidden;
    top: -19px;
    left: 0px;
    z-index: 1;
  }
  .hiden-text_two {
    width: 100%;
    overflow: hidden;
  }
  .hiden-text_three {
    width: 100%;
    overflow: hidden;
    left: -10px;
  }
  .hiden-text_four {
    width: 100%;
    overflow: hidden;
  }
}
