.calculator {
  margin-top: 38px;
  position: relative;
}
.calculator::before {
  content: "Калькулятор Калькулятор Калькулятор ";
  width: 2996px;
  font-family: "Gotham Pro";
  font-size: 144px;
  font-weight: 500;
  position: absolute;
  overflow: hidden;
  color: #ffffff;
  text-shadow: 0 -1px #e1e1e1, 1px 0 #e1e1e1, 0 1px #e1e1e1, -1px 0 #e1e1e1;
  // filter: blur(1px);
  bottom: -40px;
  max-width: calc(100% + 414px);
  left: -414px;
  z-index: -1;
  white-space: pre;
}
.calculator__title {
  color: #3f3f3f;
  font-family: "Gotham Pro";
  font-size: 24px;
  font-weight: 500;
  text-align: left;
}
.calculator__title::after {
  content: "";
  display: block;
  max-width: 116px;
  width: 100%;
  height: 8px;
  background-color: #2dbc4c;
  margin-top: 14px;
}
.title {
}
.calculator__text {
  color: #353535;
  font-family: "Gotham Pro";
  font-size: 22px;
  font-weight: 400;
  line-height: 30.51px;
  text-align: left;
  margin-top: 18px;
  max-width: 420px;
}
.text {
}
.calculator__row {
  width: 100%;
  display: flex;
  margin-top: 20px;
  z-index: 5;
  position: relative;
}
.calculator_item {
  padding-top: 25px;
  padding-bottom: 23px;
  border-radius: 11px;
  border: 1px solid #2dbc4c;
  color: #353535;
  font-family: "Gotham Pro";
  font-size: 22px;
  font-weight: 400;
  line-height: 30.51px;
  text-align: left;
  display: flex;
  max-width: 561px;
  width: 100%;
  min-height: 79px;
  background-color: #ffffff;
}
.calculator__row__left {
}

.type-of-tree::after {
  content: url("../img/icon/calculator/Arrow.png");
  width: 22px;
  height: 13px;
  margin-right: 32px;
}

.type-of-tree_opions {
  position: absolute;
  width: 100%;
  top: 66px;
  left: -2000px;
  z-index: 10;
  overflow: hidden;
}
.type-of-tree {
  justify-content: space-between;
  padding-left: 57px;
  margin-bottom: 14px;
  position: relative;
  cursor: pointer;
  &.active {
    .type-of-tree_opions {
      left: 0;
    }
    &.type-of-tree::after {
      transform: rotate(180deg);
      margin-top: 25px;
    }
  }
}
.type-of-tree_opions__row {
  background-color: #ffffff;
  border: 1px solid #2dbc4c;
  border-radius: 0 0 11px 11px;
  border-width: 0 1px 1px 1px;
}
.opions__item {
  padding-left: 56px;
  min-height: 79px;
  display: flex;
  align-items: center;
  font-family: Gotham Pro;
  font-size: 22px;
  line-height: 138.7%;
  color: #353535;
  &:hover {
    &.opions__item {
      background: #2dbc4c;
      color: #ffffff;
    }
  }
  &.active {
    // &.opions__item {
    //   background: #2dbc4c;
    //   color: #ffffff;
    // }
  }
}
.form-select {
}
.calculator__diameter {
  min-height: 223px;
  display: flex;
  flex-direction: column;
  padding-left: 26px;
}
.diameter__title {
  margin-left: 30px;
  color: #353535;
  font-family: "Gotham Pro";
  font-size: 22px;
  font-weight: 400;
  line-height: 30.51px;
  text-align: left;
}
.diameter__row {
  margin-top: 18px;
  display: flex;
  flex-wrap: wrap;
}
.diameter__item {
  max-width: 152px;
  width: 100%;
  height: 53px;
  border-radius: 11px;
  background-color: #f9f9f9;
  color: #353535;
  font-family: "Gotham Pro";
  font-size: 24px;
  font-weight: 400;
  line-height: 33.29px;
  text-align: left;
  padding: 12px 23px 14px 24px;
  margin-right: 11px;
  margin-bottom: 10px;
  cursor: pointer;
  &.active {
    background-color: #2dbc4c;
    color: #ffffff;
  }
  &:hover {
    background-color: #2dbc4c;
    color: #ffffff;
  }
}
.calculator__price-estimated {
  margin-top: 14px;
  color: #353535;
  font-family: "Gotham Pro";
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  line-height: 27.74px;
  text-align: left;
}
.calculator__row__right {
  width: 50%;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  text-align: left;
}
.tree-height {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  padding-left: 83px;
}
.tree-height__title {
}
.tree-height__icon__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 23px;
}
.tree-height__icon {
  min-width: 36px;
  min-height: 36px;
  border-radius: 10px;
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2dbc4c;
  cursor: pointer;
}
.tree-height__icon:hover {
  color: #ffffff;
  background-color: #2dbc4c;
}
// .left::before {
//   content: url("../img/icon/calculator/Arrow_2_2.png");
//   width: 13px;
//   height: 22px;
//   display: block;
// }
.tree-height__counter {
  min-width: 82px;
  width: 100%;
  text-align: center;
  display: block;
}
// .right {
//   background-color: #2dbc4c;

//   // &::before {
//   //   width: 13px;
//   //   height: 22px;
//   //   content: url("../img/icon/calculator/Arrow_2_1.png");
//   //   display: block;
//   // }
// }

.cramped-conditions {
  margin-top: 14px;
  display: flex;
  justify-content: space-between;
  padding: 0;
  padding-left: 83px;
  align-items: center;
}

.switch-btn::before {
  content: "";
  width: 60px;
  height: 36px;
  border-radius: 10px;
  position: absolute;
  top: 0;
  background-color: #9c9c9c;
  left: 79px;
}
.switch-btn {
  width: 115px;
  height: 36px;
  border-radius: 10px;
  background-color: #f6f6f6;
  margin-right: 45px;
  position: relative;
  cursor: pointer;
  &::before {
    left: 55px;
  }
  &.active {
    &.switch-btn::before {
      background-color: #2dbc4c;
      left: 0;
    }
  }
}
.calculator__total {
  margin-top: 60px;
  display: flex;
  align-items: center;
  font-size: 36px;
  font-family: "Gotham Pro";
  margin-left: 66px;
}
.total__text {
  color: #353535;
  font-size: 22px;
  font-weight: 400;
  line-height: 30.51px;
  text-align: left;
}
.total__num {
  margin-left: 24px;
  display: flex;
}
.total__num::after {
  content: "P";
  color: #2dbc4c;
  margin-left: 14px;
  display: block;
}

@media (max-width: 1185px) {
  .type-of-tree {
    padding-left: 30px;
  }
  .tree-height {
    padding-left: 30px;
  }
  .cramped-conditions {
    padding-left: 30px;
  }
  .calculator__total {
    margin-left: 30px;
  }
  .opions__item {
    padding-left: 30px;
  }
}
@media (max-width: 1125px) {
  .calculator__text {
    max-width: 676px;
  }
  .calculator::before {
    display: none;
  }
  .calculator__row {
    flex-direction: column;
    align-items: center;
  }
  .calculator__row__right {
    margin-left: 0;
    margin-top: 14px;
    width: 100%;
    align-items: center;
  }
  .calculator_item {
    max-width: 676px;
  }
  .calculator__total {
    margin-top: 30px;
  }
  .calculator__price-estimated {
    margin-top: 20px;
  }
  .calculator__diameter {
    padding-right: 26px;
  }
  .diameter__row {
    justify-content: center;
  }
  .diameter__item {
    max-width: 182px;
    padding-left: 39px;
    padding-right: 38px;
  }
}

@media (max-width: 710px) {
  .diameter__item {
    max-width: 152px;
    padding-left: 23px;
    padding-right: 24px;
  }
  .calculator__diameter {
    padding-right: 16px;
    padding-left: 16px;
  }
}
@media (max-width: 600px) {
  // .calculator__diameter {
  //   height: 270px;
  // }
  .calculator__total {
    flex-direction: column;
  }
  .total__num {
    margin-top: 16px;
    margin-left: 0;
  }
  .calculator__price-estimated {
    text-align: center;
  }
}
@media (max-width: 470px) {
  .calculator__diameter {
    padding-right: 6px;
    padding-left: 6px;
  }
  .tree-height {
    flex-direction: column;
    //
    // margin-bottom: 20px;
  }
  .tree-height__title {
    margin-top: 28px;
    margin-bottom: 12px;
  }
  .tree-height {
    // padding-top: 28px;
    // padding-bottom: 12px;
  }
  .tree-height__icon__row {
    padding-bottom: 20px;
    margin-right: 0;
  }
  .calculator_item {
    font-size: 18px;
    padding-left: 20px;
  }
  .tree-height__counter {
    font-size: 22px;
  }
  .diameter__title {
    font-size: 18px;
  }
  .calculator__text {
    font-size: 20px;
  }
  .opions__item {
    font-size: 18px;
  }
}
@media (max-width: 470px) {
  .calculator__row {
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
    max-width: 100%;
    margin-top: 20px;
  }
}
@media (max-width: 390px) {
  .diameter__item {
    max-width: 122px;
    padding-left: 8px;
    padding-right: 8px;
  }
  .calculator_item {
    padding-left: 10px;
    padding-right: 10px;
  }
  .switch-btn {
    width: 100px;
    height: 30px;
  }
  .switch-btn::before {
    height: 30px;
    width: 50px;
    left: 50px;
  }
  .switch-btn.active.switch-btn::before {
    left: 0px;
  }
  .opions__item {
    padding: 15px 10px 13px;
    font-size: 18px;
  }
  .type-of-tree.active.type-of-tree::after {
    margin-top: 18px;
  }
}
@media (max-width: 390px) {
}
