.choose-us {
  position: relative;
  //   min-height: 377px;

  //   background-color: #2eb84c;
  margin-top: 63px;
  display: flex;
  align-items: center;
}
.choose-us__background {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 1;
  flex-direction: row;
}
.choose-us__background__left {
  width: 50%;
  background-color: #29ab46;
  z-index: 1;
}
.choose-us__background__right {
  width: 50%;
  background-color: #2dbc4c;
  z-index: 1;
}
.choose-us__row {
  display: flex;
  width: 100%;
  align-items: center;
  min-height: 100%;
}
.choose-us__title {
  position: absolute;
  left: 0;
  top: 29px;
  z-index: 4;
  width: 292px;
  height: 23px;
  color: #ffffff;
  font-family: "Gotham Pro";
  font-size: 24px;
  font-weight: 500;
}
.choose-us__item {
  display: block;
  display: flex;
  justify-content: center;
  width: 326px;
  padding-right: 68px;
  min-height: 372px;
  position: relative;
  background-color: #2fb14c;
  z-index: 1;
}
.choose-us__item__arrow {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100% - 41.7%;
  background-color: #29ab46;
  z-index: 1;
}
$he: 186px;

.choose-us__item__arrow::before {
  content: "";
  position: absolute;
  top: 0;
  right: -72%;
  width: 0;
  height: 0;
  border-top: $he solid transparent;
  border-bottom: $he solid transparent;
  border-left: 132px solid #29ab46;
  border-right: none;
  z-index: 3;
  background-color: #2fb14c;
}
.choose-us__absolut-row {
  position: absolute;
  width: 118%;
  height: 100%;
  left: -9%;
  display: flex;
  justify-content: space-between;
  z-index: 5;
  padding-top: 132px;
}
.choose-us__item__absolut {
  &.technical {
    .choose-us__item__text {
      max-width: 308px;
    }
  }
  &.quatily {
    .choose-us__item__text {
      margin-top: 15px;
      max-width: 242px;
    }
  }
  &.discount {
    .choose-us__item__text {
      margin-top: 32px;
      max-width: 242px;
    }
  }
  &.professionals {
    .choose-us__item__text {
      margin-top: 32px;
      max-width: 282px;
    }
  }
  &.clock {
    .choose-us__item__text {
      max-width: 242px;
    }
  }
}
.choose-us__item__row {
  position: relative;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  z-index: 3;
  top: -15px;
}
.choose-us__item__img {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.choose-us__item__icon {
  display: block;
}
.choose-us__item__text {
  margin-top: 27px;
  color: #ffffff;
  font-family: "Gotham Pro";
  font-weight: 500;
  text-align: center;
  font-size: 18px;
  line-height: 24px;
  width: 100%;
}
.technical {
  .choose-us__item__arrow {
    background-color: #29ab46;
  }
}
.quality {
  .choose-us__item__arrow {
    background-color: #2fb14c;
  }

  .choose-us__item__arrow::before {
    border-left: 136px solid #2fb14c;
    background-color: #2eb84c;
  }
  .choose-us__item__text {
    margin-top: 15px;
  }
}
.professionals {
  .choose-us__item__text {
    margin-top: 31px;
  }
  .choose-us__item__arrow {
    background-color: #2eb84c;
  }

  .choose-us__item__arrow::before {
    border-left: 136px solid #2eb84c;
    background-color: #2dbc4c;
  }
}
.clock {
  .choose-us__item__arrow {
    background-color: #2dbc4c;
  }

  .choose-us__item__arrow::before {
    border-left: 136px solid #2dbc4c;
    background-color: #2dbc4c;
  }
}

@media (max-width: 1500px) {
  .choose-us__absolut-row {
    width: 100%;
    height: 100%;
    left: 0;
  }
}

@media (max-width: 1360px) {
  .choose-us {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100%;
  }

  .choose-us__title {
    top: 25px;
    z-index: 4;
    width: 100%;
    text-align: center;
  }
  .choose-us__background {
    display: none;
  }
  .choose-us__row {
    display: flex;
    max-width: 100%;
    // height: 1270px;
    align-items: center;
    flex-direction: column;
    padding: 0;
    padding-top: 48px;
    padding-bottom: 270px;
    background: rgb(41, 171, 70);
    background: linear-gradient(
      180deg,
      rgba(41, 171, 70, 1) 50%,
      rgba(45, 188, 76, 1) 50%
    );
    margin-top: 41px;
    flex-wrap: nowrap;
    justify-content: none;
  }
  .choose-us__absolut-row {
    height: calc(100% - 48px);
    padding-top: 60px;
    padding-bottom: 112px;

    flex-direction: column;
    align-items: center;
  }
  .choose-us__item__absolut {
    &.technical {
      order: 1;
      margin-top: 30px;
      .choose-us__item__text {
        max-width: 308px;
      }
    }
    &.quatily {
      order: 2;
      margin-top: 100px;
      .choose-us__item__text {
        max-width: 242px;
      }
    }

    &.professionals {
      order: 3;
      margin-top: 140px;
      .choose-us__item__text {
        max-width: 282px;
      }
    }
    &.clock {
      order: 4;
      margin-top: 140px;
      .choose-us__item__text {
        max-width: 242px;
      }
    }
    &.discount {
      order: 5;
      margin-top: 40px;
      .choose-us__item__text {
        max-width: 242px;
      }
    }
  }
  .choose-us__item {
    width: 100%;
    max-height: 326px;
    min-height: 326px;
    min-width: 100%;
    height: 100%;
    padding: 0;

    &.quality {
      background-color: #2fb14c;
      .choose-us__item__arrow {
        background-color: #2fb14c;
      }

      .choose-us__item__arrow::before {
        border-left: 50vw solid transparent;
        border-right: 50vw solid transparent;
        border-top: 130px solid #2fb14c;
        background-color: #2eb84c;
      }
    }
    &.professionals {
      .choose-us__item__text {
        margin-top: 31px;
      }
      background-color: #2eb84c;
      .choose-us__item__arrow {
        background-color: #2eb84c;
      }

      .choose-us__item__arrow::before {
        border-left: 50vw solid transparent;
        border-right: 50vw solid transparent;
        border-top: 130px solid #2eb84c;
        background-color: #2dbc4c;
      }
    }
    &.clock {
      background-color: #2dbc4c;
      .choose-us__item__arrow {
        background-color: #2dbc4c;
      }

      .choose-us__item__arrow::before {
        border-left: 50vw solid transparent;
        border-right: 50vw solid transparent;
        border-top: 130px solid #2dbc4c;
        background-color: #2dbc4c;
      }
    }
  }
  .choose-us__item__arrow {
    width: 100%;
    height: calc(100% - 130px);
    display: block;
  }
  .choose-us__item__arrow::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 130px;
    border-left: 50vw solid transparent;
    border-right: 50vw solid transparent;
    border-top: 130px solid #29ab46;
    border-bottom: 0px;
    z-index: 3;
    background-color: #2fb14c;
    display: block;
  }
  .choose-us__item__row {
    max-width: 238px;
    width: 100%;
    top: 0;
  }
}

@media (max-width: 900px) {
  $height: 90px;
  .choose-us__item {
    max-height: 300px;
    min-height: 300px;
    &.quality {
      .choose-us__item__arrow::before {
        border-top: $height solid #2fb14c;
      }
    }
    &.professionals {
      .choose-us__item__arrow::before {
        border-top: $height solid #2eb84c;
      }
    }
    &.clock {
      .choose-us__item__arrow::before {
        border-top: $height solid #2dbc4c;
      }
    }
  }
  .choose-us__item__arrow {
    height: calc(100% - $height);
  }
  .choose-us__item__arrow::before {
    height: $height;
    border-top: $height solid #29ab46;
  }
  @media (max-width: 700px) {
    $height: 60px;
    .choose-us__item {
      max-height: 270px;
      min-height: 270px;
      &.quality {
        .choose-us__item__arrow::before {
          border-top: $height solid #2fb14c;
        }
      }
      &.professionals {
        .choose-us__item__arrow::before {
          border-top: $height solid #2eb84c;
        }
      }
      &.clock {
        .choose-us__item__arrow::before {
          border-top: $height solid #2dbc4c;
        }
      }
    }
    .choose-us__item__arrow {
      height: calc(100% - $height);
    }
    .choose-us__item__arrow::before {
      height: $height;
      border-top: $height solid #29ab46;
    }
  }
}
@media (max-width: 730px) {
  .choose-us__bottom {
    margin-top: 0px;
    line-height: 32px;
    max-width: auto;
    left: 0;
    width: 100%;
    font-size: 24px;
    bottom: 60px;
  }
  .choose-us__row {
  }
  .choose-us__item__absolut {
    &.technical {
      margin-top: 20px;
    }
    &.quatily {
      margin-top: 110px;
    }

    &.professionals {
      margin-top: 110px;
    }
    &.clock {
      margin-top: 110px;
    }
    &.discount {
      margin-top: 90px;
    }
  }
}

@media (max-width: 440px) {
  .choose-us__bottom {
    font-family: "Gotham Pro";
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    max-width: 100%;
    font-weight: 500;
  }
}
@media (max-width: 400px) {
  .choose-us {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100%;
  }
  .choose-us__title {
    top: 25px;
    z-index: 4;
    width: 100%;
    text-align: center;
  }
  .choose-us__background {
    display: none;
  }
  .choose-us__row {
    display: flex;
    max-width: 100%;
    align-items: center;
    flex-direction: column;
    padding: 0;
    padding-bottom: 290px;
    padding-top: 48px;
    background-color: #29ab46;
    margin-top: 41px;
    flex-wrap: nowrap;
    justify-content: none;
  }
  .choose-us__item__absolut {
    &.technical {
      margin-top: 0px;
    }
    &.quatily {
      margin-top: 100px;
    }

    &.professionals {
      margin-top: 100px;
    }
    &.clock {
      margin-top: 100px;
    }
    &.discount {
      margin-top: 80px;
    }
  }

  .choose-us__item {
    max-height: 247px;
    min-height: 247px;

    &.quality {
      .choose-us__item__arrow::before {
        border-top: 58px solid #2fb14c;
      }
    }
    &.professionals {
      .choose-us__item__arrow::before {
        border-top: 58px solid #2eb84c;
      }
    }
    &.clock {
      .choose-us__item__arrow::before {
        border-top: 58px solid #2dbc4c;
      }
    }
  }
  .choose-us__item__arrow {
    width: 100%;
    height: calc(100% - 58px);
    display: block;
  }
  .choose-us__item__arrow::before {
  }
}
@media (max-width: 345px) {
}
// .technical {
//   padding-right: 0px;

//   background-color: #2fb14c;
//   .choose-us__item__arrow {
//     background-color: #29ab46;
//   }
//   .choose-us__item__img {
//     // position: absolute;
//     // width: 72px;
//     // height: 72px;
//     // top: -72px;
//     // left: -72px;
//   }
//   .choose-us__item__text {
//     // position: absolute;
//     // top: 0px;
//     // left: -190px;
//     // width: 307px;
//     // // margin-top: 105px;
//   }
// }
