.footer {
  min-height: 144px;
  display: flex;
  justify-content: space-between;
  align-self: center;
  align-items: center;
  flex-direction: row;
  font-family: "Gotham Pro";
}

.footer__logo {
}
.footer__logo_img {
  color: #1e1e1e;
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
}
.footer__logo_text {
  margin-top: 11px;
  color: #000000;
  font-family: "Josefin Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 15.99px;
  text-align: left;
  span {
    font-size: 11px;
  }
}

.footer__privacy {
  color: #000000;
  font-size: 18px;
  font-weight: 400;
  line-height: 20.56px;
}
.footer__tel {
  color: #000000;
  font-size: 22px;
  font-weight: 300;
  line-height: 25.12px;
}
.footer__social {
}
.footer__social__icon {
  margin-right: 31px;
}
.footer__social__icon:last-child {
  margin-right: 0;
}
.insta {
  content: url("../img/icon/footer/insta.png");
  width: 26px;
  height: 26px;
}
.vk {
  content: url("../img/icon/footer/vk.png");
  width: 31px;
  height: 26px;
}
.telegram {
  content: url("../img/icon/footer/telegram.png");
  width: 29px;
  height: 25px;
}
.WhatsUp {
  content: url("../img/icon/footer/WhatsUp.png");
  width: 24px;
  height: 24px;
}

.develop_mobile {
  display: none;
}
@media (max-width: 400px) {
  .footer {
    flex-direction: column;
    max-width: 235px;
    padding: 0;
  }
  .footer__logo {
    margin-top: 66px;
    order: 1;
    margin-bottom: 21px;
  }
  .footer__tel {
    font-size: 22px;
    order: 2;
  }
  .footer__privacy {
    order: 3;
    margin-top: 23px;
    font-size: 14px;
  }
  .footer__social {
    margin-top: 26px;
    order: 4;
  }
  .footer__logo_text {
    &.desktop {
      display: none;
    }
  }
  .develop_mobile {
    margin-top: 30px;
    display: block;
    order: 5;
    margin-bottom: 48px;
    font-weight: 400;
  }
}
