.gallery {
  margin-top: 65px;
}

.gallery__title {
  margin-bottom: 21px;
}

.gallery__row {
  padding-left: 45px;
  padding-right: 45px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.gallery__item {
  width: 100%;
  height: 297px;
  border-radius: 12px;
  margin-right: 7px;
  margin-left: 7px;
  margin-top: 9px;
}

.gallery__item__img {
  width: 100%;
}
.big {
  max-width: 615px;
}
.small {
  max-width: 268px;
}
