.gallery {
  margin-top: 65px;
  position: relative;
}

.gallery__title {
  position: relative;
  margin-bottom: 21px;
  z-index: 3;
}
.gallery::before {
  content: "Галерея Галерея Галере";
  position: absolute;
  width: 1850px;
  height: 138px;
  left: -0px;
  top: -70px;

  font-family: "Gotham Pro";
  font-size: 144px;
  line-height: 138px;
  color: #ffffff;
  text-shadow: 1px 1px 1px #e1e1e1;
  z-index: 1;
  overflow: hidden;
}
.gallery__row {
  position: relative;
  padding-left: 45px;
  padding-right: 45px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  z-index: 3;
}
.gallery__item {
  width: 100%;
  height: 297px;
  border-radius: 12px;
  margin-right: 7px;
  margin-left: 7px;
  margin-top: 9px;
}

.gallery__item__img {
  width: 100%;
}
.big {
  max-width: 615px;
}
.small {
  max-width: 268px;
}
@media (max-width: 400px) {
  .gallery {
  }
  .gallery::before {
    width: 100%;
  }
  .gallery__row {
    padding-left: 0;
    padding-right: 0;
  }
  .gallery__item {
    margin-right: 2px;
    margin-left: 2px;
    margin-top: 4px;
  }
  .big {
    width: 258px;
    height: 125px;
  }
  .small {
    width: 114px;
    height: 125px;
  }
}
