.gallery {
  margin-top: 65px;
  position: relative;
}

.gallery__title {
  position: relative;
  margin-bottom: 21px;
  z-index: 3;
}
.gallery::before {
  content: "Галерея Галерея Галере";
  position: absolute;
  width: 1850px;
  height: 138px;
  left: 0;
  top: -70px;
  max-width: 100%;
  font-family: "Gotham Pro";
  font-size: 144px;
  line-height: 138px;
  color: #ffffff;
  text-shadow: 0 -1px #e1e1e1, 1px 0 #e1e1e1, 0 1px #e1e1e1, -1px 0 #e1e1e1;
  // filter: blur(1px);
  z-index: 1;
  overflow: hidden;
  max-width: calc(100%);
}
.gallery__row {
  position: relative;
  padding-left: 45px;
  padding-right: 45px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  z-index: 3;
}
.gallery__item {
  width: 100%;
  height: 297px;
  border-radius: 12px;
  margin-right: 7px;
  margin-left: 7px;
  margin-top: 9px;
}

.gallery__item__img {
  width: 100%;
  height: 100%;
}
.big {
  max-width: 615px;
}
.small {
  max-width: 268px;
}
@media (max-width: 1925px) {
  .big {
    max-width: 31vw;
    height: 15.42vw;
  }
  .small {
    max-width: 13vw;
    height: 15.42vw;
  }
}
@media (max-width: 1235px) {
  .gallery__row {
    padding-left: 25px;
    padding-right: 25px;
  }
}
@media (max-width: 1180px) {
  .gallery__row {
    padding-left: 15px;
    padding-right: 15px;
  }
  .gallery__item {
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 9px;
  }
  .big {
    // max-width: 615px;
    max-width: 59.7vw;
    height: 28.8vw;
  }
  .small {
    max-width: 26vw;
    height: 28.8vw;
  }
}
// @media (max-width: 980px) {
//   .big {
//     max-width: 360px;
//     height: 179px;
//   }
//   .small {
//     max-width: 150px;
//     height: 179px;
//   }
// }
@media (max-width: 575px) {
  // .gallery__row {
  //   padding-left: 35px;
  //   padding-right: 35px;
  // }
  .gallery__item {
    margin-right: 4px;
    margin-left: 4px;
    margin-top: 9px;
  }
  // .big {
  //   max-width: 258px;
  //   height: 125px;
  // }
  // .small {
  //   max-width: 114px;
  //   height: 125px;
  // }
}
@media (max-width: 470px) {
  .gallery__row {
    padding-left: 10px;
    padding-right: 10px;
  }
  .gallery__item {
    margin-right: 2px;
    margin-left: 2px;
    margin-top: 4px;
  }
}
@media (max-width: 400px) {
  .gallery {
    margin-top: 42px;
  }
  .gallery::before {
    width: 100%;
    top: -45px;
  }
  .gallery__row {
    padding-left: 0;
    padding-right: 0;
  }
  .gallery__item {
    margin-right: 2px;
    margin-left: 2px;
    margin-top: 4px;
  }
  .big {
    max-width: 64.5vw;
    height: 125px;
  }
  .small {
    max-width: 28.5vw;
    height: 125px;
  }
}
