.header {
  width: 100%;
  padding-top: 38px;
  padding-bottom: 34px;
}
.header__row {
  width: 100%;
  display: flex;
  // align-self: center;
  // align-items: center;
  flex-direction: column;
}
.header__top {
  display: flex;
  align-self: center;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 19px;
}
.heder__right {
  display: flex;
  align-self: center;
  align-items: center;
}
.header__name {
  color: #1e1e1e;
  font-family: "Gotham Pro";
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
  /* Text style for "/" */
}
.header__name span {
  color: #2dbc89;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}
.header__location {
  color: #1e1e1e;
  font-family: "Gotham Pro";
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 17.55px;
  text-align: left;
  display: flex;
  align-self: center;
}
.header__location::before {
  content: url("../img/icon/geo.png");
  width: 14px;
  height: 20px;
  margin-right: 9px;
}
.header__tel {
  display: flex;
  align-self: center;
  font-family: "Gotham Pro";
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
  margin-right: 40px;
}
.header__tel::before {
  content: url("../img/icon/tel.png");
  width: 15px;
  height: 15px;
  margin-right: 11px;
}
.btn {
  border-radius: 23px;
  background-color: #2dbc4c;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 25px;
  padding-right: 19px;
  display: flex;
  align-self: center;
  color: #ffffff;
  font-family: "Gotham Pro";
  font-size: 16px;
  font-weight: 500;
  min-height: 45px;
  align-items: center;
}
.header__WhatsApp {
  display: flex;
  align-self: center;
  align-items: center;
  color: #ffffff;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
  margin-right: 11px;
}
.header__WhatsApp::after {
  content: url("../img/icon/WhatsApp.png");
  margin-left: 16px;
  width: 23px;
  height: 23px;
}
.header__order {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 32px;
  padding-right: 32px;
}
.header__nav {
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.nav__item {
  max-width: 203px;
  width: 100%;
  height: 53px;
  display: flex;
  align-items: center;
  justify-content: center;

  &.active {
    background-color: #2dbc4c;
    .nav__text {
      color: #ffffff;
    }
  }
}
.nav__text {
  font-family: "Gotham Pro";
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
  color: #3f3f3f;
}
.header__baner {
  position: relative;
  width: 100%;
  min-height: 481px;
  height: 100%;

  display: flex;
  align-items: center;
  background-image: url("../img/buner_background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.header__baner::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    123.33deg,
    rgba(0, 0, 0, 0.65) 10.47%,
    rgba(0, 0, 0, 0.273) 90.49%
  );
  z-index: 1;
}
.baner__row {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: left;
  z-index: 2;
}
.baner__titel {
  color: #ffffff;
  font-family: "Gotham Pro";
  font-size: 48px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
  margin-bottom: 14px;
}
.baner__text {
  color: #ffffff;
  font-family: "Gotham Pro";
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
  margin-bottom: 45px;
}
.btn {
}
.baner__btn {
  align-self: flex-start;
  padding-left: 58px;
  padding-right: 58px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: "Gotham Pro";
  font-size: 16px;
  font-weight: 500;
  text-align: left;
}
