.header {
  width: 100%;
  padding-top: 38px;
  padding-bottom: 34px;
}
.header__row {
  width: 100%;
  display: flex;
  // align-self: center;
  // align-items: center;
  flex-direction: column;
}
.header__top {
  display: flex;
  align-self: center;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 19px;
}
.heder__right {
  display: flex;
  align-self: center;
  align-items: center;
}
.header__name {
}
.header__name {
  // &span {
  //   color: #2dbc89;
  //   font-style: normal;
  //   letter-spacing: normal;
  //   line-height: normal;
  // }
}
.header__location {
  color: #1e1e1e;
  font-family: "Gotham Pro";
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 17.55px;
  text-align: left;
  display: flex;
  align-self: center;
}
.header__location::before {
  content: url("../img/icon/geo.png");
  width: 14px;
  height: 20px;
  margin-right: 9px;
}
.header__tel {
  display: flex;
  align-self: center;
  font-family: "Gotham Pro";
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
  margin-right: 40px;
  color: #3f3f3f;
}
.header__tel::before {
  content: url("../img/icon/tel.png");
  width: 15px;
  height: 15px;
  margin-right: 11px;
}
.btn {
  border-radius: 23px;
  background-color: #2dbc4c;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 25px;
  padding-right: 19px;
  display: flex;
  align-self: center;
  color: #ffffff;
  font-family: "Gotham Pro";
  font-size: 16px;
  font-weight: 500;
  min-height: 45px;
  align-items: center;
}
.header__WhatsApp {
  display: flex;
  align-self: center;
  align-items: center;
  color: #ffffff;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
  margin-right: 11px;
}
.header__WhatsApp::after {
  content: url("../img/icon/WhatsApp.png");
  margin-left: 16px;
  width: 23px;
  height: 23px;
}
.header__order {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 32px;
  padding-right: 32px;
}
.header__nav {
}
.header__nav__row {
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.nav__item {
  max-width: 203px;
  width: 100%;
  height: 53px;
  display: flex;
  align-items: center;
  justify-content: center;

  // &.active {
  //   background-color: #2dbc4c;
  //   .nav__text {
  //     color: #ffffff;
  //     font-size: 16px;
  //   }
  // }
}
.nav__item:hover {
  background-color: #2dbc4c;
  .nav__text {
    color: #ffffff;
    font-size: 16px;
  }
}
.active {
  &.header__nav {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 100%;
    top: 0;
    left: 0;
    z-index: 8;
    margin: 0 auto;
  }
  &.header__nav::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 7;
  }
  .header__nav__row {
    position: relative;
    z-index: 8;
    flex-direction: column;
    text-align: center;
  }
  .nav__item {
    background-color: transparent;
  }
  .nav__text {
    color: white;
    font-size: 25px;
  }
  .active {
    .nav__text {
      color: white;
      font-size: 25px;
    }
  }
}

.nav__text {
  font-family: "Gotham Pro";
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
  color: #3f3f3f;
}
.header__baner {
  position: relative;
  width: 100%;
  min-height: 481px;
  height: 100%;
  display: flex;
  align-items: center;
  // background-image: url("../img/buner_background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.header__baner::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    123.33deg,
    rgba(0, 0, 0, 0.65) 10.47%,
    rgba(0, 0, 0, 0.273) 90.49%
  );
  z-index: 1;
}
.baner__row {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: left;
  z-index: 2;
}
.baner__titel {
  color: #ffffff;
  font-family: "Gotham Pro";
  font-size: 48px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
  margin-bottom: 14px;
}
.baner__text {
  color: #ffffff;
  font-family: "Gotham Pro";
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
  margin-bottom: 45px;
}
.btn {
}
.baner__btn {
  align-self: flex-start;
  padding-left: 58px;
  padding-right: 58px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: "Gotham Pro";
  font-size: 16px;
  font-weight: 500;
  text-align: left;
}

.active {
  &.burger {
    width: 45px;
    height: 45px;
    position: relative;
    z-index: 10;
  }
  .burger_item {
    display: none;
    background-color: white;
    &.first {
      display: block;
      width: 45px;
      height: 6px;
      transform: rotate(45deg);
      margin-top: 19px;
    }

    &.green {
      display: block;
      width: 45px;
      height: 6px;
      transform-origin: center center;
      transform: rotate(-45deg);
      margin-top: -9px;
      background-color: white;
    }
  }
}
.burger_item {
  display: block;
  width: 45px;
  height: 6px;
  background-color: #4b4b4b;
  margin-bottom: 4px;
  &.green {
    width: 37px;
    height: 6px;
    background-color: #2dbc4c;
  }
}
.burger__logo {
}

.burger__icon {
}
.WhatsApp {
  content: url("../img/icon/WhatsAppGreen.png");
  width: 23px;
  height: 23px;
}
.tel {
  content: url("../img/icon/tel_mobile.png");
  width: 17px;
  height: 17px;
  margin-right: 21px;
}
.header__top_mobile {
  display: none;
  height: 65px;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  align-items: center;
}

@media (max-width: 1300px) {
}
@media (max-width: 1065px) {
  .header__WhatsApp {
    display: none;
  }
}
@media (max-width: 785px) {
  .header__location {
    display: none;
  }
}
@media (max-width: 700px) {
  .baner__titel {
    font-size: 43px;
  }
}
@media (max-width: 715px) {
  .header {
    padding-top: 0;
  }
  .header__top {
    display: none;
  }
  .header__nav {
    display: none;
  }
  .header__top_mobile {
    display: flex;
  }
}
@media (max-width: 400px) {
  .header {
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
  }
  .header__top {
    display: none;
  }
  .header__nav {
    display: none;
  }
  .header__top_mobile {
    display: flex;
  }
  .header__baner {
    min-height: 538px;
  }
  .baner__titel {
    font-size: 32px;
    text-align: center;
    margin-bottom: 16px;
    line-height: 43.93px;
  }
  .baner__text {
    font-size: 18px;
    text-align: center;
    line-height: 28.59px;
    margin-bottom: 44px;
  }
  .baner__btn {
    align-self: center;
  }
}
