.our-services {
  margin-top: 25px;
  position: relative;
}
.our-services__leaves-background {
  content: "";
  background-image: url("../img/leaves_background.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: auto 100%;
  position: absolute;
  width: 330px;
  height: 654.49px;
  transform: rotate(-7.38deg);
  // right: -300px;
  top: 0px;
  right: 60px;
  white-space: pre;
  z-index: 1;
  overflow: hidden;
  max-width: 100%;
  display: block;
}

.our-services::before {
  position: absolute;
  content: "Наши услуги   Наши услуги";
  font-family: "Gotham Pro";
  font-style: normal;
  font-weight: normal;
  font-size: 144px;
  line-height: 138px;
  //   filter: blur(1px);
  white-space: pre;
  color: #ffffff;
  top: -40px;
  text-shadow: 1px 1px 1px #e1e1e1;
  z-index: 1;
  overflow: hidden;
  max-width: 100%;
}

.our-services__title {
  position: relative;
  display: block;
  color: #3f3f3f;
  font-family: "Gotham Pro";
  font-size: 24px;
  font-weight: 500;
  text-align: left;
  margin-top: 51px;
  margin-bottom: 25px;
  z-index: 3;
}
.our-services__row {
  position: relative;
  display: flex;
  z-index: 3;
}
.our-services__name {
  max-width: 349px;
  width: 100%;
}
.our-services__name__item {
  position: relative;
  max-width: 349px;
  width: 100%;
  height: 57px;
  border-radius: 29px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 6px;
  border: 1px solid #ececec;
}

.our-services__name__item_icon {
  display: none;
  position: absolute;
  width: 21px;
  height: 21px;
  border: 2px solid #2dbc4c;
  border-radius: 100%;
  background-color: #ffffff;
  right: -55px;
  top: 17px;
}

.our-services__name__item_icon::before {
  position: absolute;
  content: "";
  width: 38px;
  height: 1px;
  border: 1px solid #2dbc4c;
  top: 8px;
  right: 21px;
}
.our-services__name__item:last-child {
  margin-bottom: 6px;
}
.our-services__name__link {
  transform: rotate(0.37000000000000455deg);
  color: #767676;
  font-family: "Gotham Pro";
  font-size: 18px;
  font-weight: 500;
  line-height: 20.56px;
  text-align: center;
}
.active {
  &.our-services__name__item {
    background-color: #2dbc4c;
  }
  .our-services__name__item_icon {
    display: block;
  }
  .our-services__name__link {
    color: #ffffff;
  }
}
.our-services__img {
  max-width: 335px;
  width: 100%;
  margin-right: 45px;
  margin-left: 45px;
  border-radius: 12px;
}

.our-services__text {
  display: flex;
  flex-direction: column;
}
.our-services__text__title {
  color: #6a6a6a;
  font-family: "Gotham Pro";
  font-size: 24px;
  font-weight: 500;
  text-align: left;
  margin-bottom: 16px;
}
.our-services__text__body {
  flex: 1 1 auto;
  transform: rotate(0.37000000000000455deg);
  color: #727272;
  font-family: "Gotham Pro";
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 138.7%;
  text-align: left;
  min-width: 319px;
}
.our-services__text__header {
}
.our-services__text__order {
  margin-bottom: 30px;
  max-width: 251px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.our-services__text__WhatsApp {
  color: #2dbc4c;
  font-family: "Gotham Pro";
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 14px;
  padding-right: 0px;
}
.our-services__text__WhatsApp::after {
  content: url("../img/icon/WhatsAppGreen.png");
  width: 23px;
  height: 23px;
  padding-left: 14px;
}
@media (max-width: 1740px) {
  .our-services__leaves-background {
  }
}
@media (max-width: 1100px) {
  .our-services__leaves-background {
    display: none;
  }
  .our-services__img {
    margin-right: 20px;
    margin-left: 20px;
    max-width: 280px;
  }
  .our-services__name {
    min-width: 315px;
  }
  .our-services__text__body {
    min-width: 229px;
  }
  .active .our-services__name__item_icon {
    right: -32px;
  }
  .our-services__name__item_icon::before {
    width: 15px;
  }
}
@media (max-width: 920px) {
  .our-services__name__link {
    font-size: 14px;
  }
  .our-services__name {
    min-width: 250px;
  }
}
@media (max-width: 855px) {
  .our-services__img {
    max-width: 200px;
  }
  .our-services__name__item {
    height: 45px;
  }
  .our-services__text__order {
    padding: 0;
    min-height: 40px;
  }
  .our-services__text__WhatsApp {
    display: none;
  }
  .our-services__text__body {
    min-width: 200px;
  }
  .our-services__text__header {
    margin-top: 10px;
  }
  .active .our-services__name__item_icon {
    top: 12px;
  }
  .our-services__text__title {
    margin-bottom: 18px;
    font-size: 18px;
  }
}
@media (max-width: 750px) {
  .our-services__img {
    display: none;
  }
  .active .our-services__name__item_icon {
    display: none;
  }
  .our-services__name {
    min-width: 150px;
    margin-right: 40px;
  }
  .our-services__name__item {
  }
  .our-services__name__link {
    font-size: 12px;
    padding: 3px;
  }
  .our-services__text__body {
    min-width: 160px;
    font-size: 10px;
  }
  .our-services__text__order {
    font-size: 12px;
    max-width: 130px;
  }
  .our-services__text {
    flex: 0 1 auto;
  }
  .our-services__text__body {
    flex: 0 1 auto;
  }
  .our-services__text__header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}

@media (max-width: 400px) {
  .our-services::before {
    top: -15px;
    font-size: 96px;
    line-height: 92px;
    content: "Наши у";
  }
  .our-services__title {
    font-size: 24px;
    margin-top: 40px;
    margin-bottom: 20px;
    z-index: 3;
  }
  .our-services__row {
    flex-direction: column;
    background-color: #ffffff;
    padding-left: 5px;
    padding-right: 5px;
    align-items: center;
  }
  .our-services__name__item {
    height: 57px;
  }
  .our-services__name__link {
    font-size: 18px;
  }
  .our-services__name {
    margin-right: 0;
  }
  .our-services__text {
  }
  .our-services__text__title {
    font-size: 24px;
  }
  .our-services__text__body {
    font-size: 14px;
    line-height: 19.42px;
  }
  .active {
    .our-services__name__item_icon {
      display: none;
    }
  }
  .our-services__img {
    margin-right: 0;
    margin-left: 0;
    margin-top: 14px;
    margin-bottom: 15px;
    max-width: 349px;
    height: 203px;
    object-fit: cover;
    display: block;
  }
  .our-services__text__order {
    position: absolute;
    top: 410px;
    left: 6.25vw;
    margin: 0 auto;
    max-width: 289px;
  }
  .our-services__text__WhatsApp {
    display: none;
  }
  .our-services__text__title {
    text-align: center;
    margin-bottom: 14px;
  }
  .our-services__text__body {
    text-align: center;
  }
  .our-services__leaves-background {
    display: none;
  }
}
@media (max-width: 350px) {
  .our-services__text__order {
    left: 3.5vw;
  }
}
