.our-services {
  margin-top: 25px;
  position: relative;
}
.our-services__leaves-background {
  content: url("../img/leaves_background.png");
  position: absolute;
  width: 597.07px;
  height: 654.49px;
  transform: rotate(-7.38deg);
  right: -554px;
  top: 0px;
  white-space: pre;
}

.our-services::before {
  position: absolute;
  content: "Наши услуги   Наши услуги";
  font-family: "Gotham Pro";
  font-style: normal;
  font-weight: normal;
  font-size: 144px;
  line-height: 138px;
  //   filter: blur(1px);
  white-space: pre;
  color: #ffffff;
  top: -100px;
  text-shadow: 1px 1px 1px #e1e1e1;
  z-index: 1;
}

.our-services__title {
  position: relative;
  display: block;
  color: #3f3f3f;
  font-family: "Gotham Pro";
  font-size: 24px;
  font-weight: 500;
  text-align: left;
  margin-top: 51px;
  margin-bottom: 25px;
  z-index: 3;
}
.our-services__row {
  position: relative;
  display: flex;
  z-index: 3;
}
.our-services__name {
  max-width: 349px;
  width: 100%;
}
.our-services__name__item {
  position: relative;
  max-width: 349px;
  width: 100%;
  height: 57px;
  border-radius: 29px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 6px;
  border: 1px solid #ececec;
}

.our-services__name__item_icon {
  display: none;
  position: absolute;
  width: 21px;
  height: 21px;
  border: 2px solid #2dbc4c;
  border-radius: 100%;
  background-color: #ffffff;
  right: -55px;
  top: 17px;
}

.our-services__name__item_icon::before {
  position: absolute;
  content: "";
  width: 38px;
  height: 1px;
  border: 1px solid #2dbc4c;
  top: 8px;
  right: 21px;
}
.our-services__name__item:last-child {
  margin-bottom: 6px;
}
.our-services__name__link {
  transform: rotate(0.37000000000000455deg);
  color: #767676;
  font-family: "Gotham Pro";
  font-size: 18px;
  font-weight: 500;
  line-height: 20.56px;
  text-align: center;
}
.active {
  background-color: #2dbc4c;
  .our-services__name__item_icon {
    display: block;
  }
  .our-services__name__link {
    color: #ffffff;
  }
}
.our-services__img {
  max-width: 335px;
  width: 100%;
  margin-right: 45px;
  margin-left: 45px;
  border-radius: 12px;
}

.our-services__text {
  display: flex;
  flex-direction: column;
}
.our-services__text__title {
  color: #6a6a6a;
  font-family: "Gotham Pro";
  font-size: 24px;
  font-weight: 500;
  text-align: left;
  margin-bottom: 16px;
}
.our-services__text__body {
  flex: 1 1 auto;
  transform: rotate(0.37000000000000455deg);
  color: #727272;
  font-family: "Gotham Pro";
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 138.7%;
  text-align: left;
  min-width: 319px;
}
.our-services__text__header {
}
.our-services__text__order {
  margin-bottom: 30px;
  max-width: 251px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.our-services__text__WhatsApp {
  color: #2dbc4c;
  font-family: "Gotham Pro";
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 14px;
  padding-right: 0px;
}
.our-services__text__WhatsApp::after {
  content: url("../img/icon/WhatsAppGreen.png");
  width: 23px;
  height: 23px;
  padding-left: 14px;
}
